.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: Arial;
  padding: 2rem;
}

label {
  display: block;
  justify-content: center;
  flex-direction: column;
  text-align: center;  
}

input,
textarea {
  margin-left: 10px;
}

::placeholder {
  font-size: 14px;
  font-style: italic;
}